@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.backgroundCards {
    background-image: url('../images/thumb-1920-1361830.png'); 
    /* background-image: url('../images/BackgroundDigimon.png'); */
    display: grid;
    min-height: 100vh;
    margin: 0;
    place-items: center;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    
}

.containerCards {
    max-width: 1000px;
}

.gridDigimon {
    
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 25px;    
}

.boxDigimon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(66,153,225);
    margin: 20px;
    /* 
    Com barra de rolagem ou sem?
    max-width: min-content; 
    max-height: min-content;
    */
    background-color: rgba(192, 192, 192, 0.4); 
    font-family: 'Poppins';
}

.boxDigimon:hover {
    background-color:  rgb(66,153,225, 0.3);
    border: 1px solid white;
    transform: scale(1.1);

}

.imgDigimon {
    width: 100%; 
    height: 100%; 
    max-width: max-content; 
    max-height: max-content;
    object-fit: cover; 
    border-radius: 10px; 
}

.nomeDigimon {
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold;
    font-size: 18px;
}

.paginacao {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}

.numeroDePaginas {
    background-color: rgba(102, 183, 236, 0.4);
    border: 1px solid rgb(13, 141, 226);
    color: rgba(45, 55, 72);
    margin-right: 2vw;
    margin-left: 2vw;
    font-weight: bold;
    width: 10vw;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.botaoPaginacao.desativado {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.buttonPages {
    color: rgba(45, 55, 72);
    border: 1px solid rgb(66,153,225);
    background-color:  rgb(66,153,225, 0.5);
    border-radius: 10px;
}

.buttonPages:hover {
    border-color: white;
    background-color:  rgb(66,153,225, 0.5);
}

