.fields {
    display: flex;
    align-content: center;
    display: flex;
    flex-direction: inherit;
    margin: 20px;
    border: 2px, solid, rgba(0, 0, 0);
    background-color: white;
    padding: 5px;
}