.infoHabilities {
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    width: 50vw;
    
}

.infoDescription {
    text-align: center;
    padding-right: 80PX;
    width: 50vw;
}