.backgroundInfoDigimon {
    background-image: url('../images/thumb-1920-1361830.png');
    /* background-image: url('../images/thumb-1920-1148744.jpg'); */
    display: grid;
    min-height: 100vh; 
    place-items: center;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

.backgroundColor {
    background-color: rgba(255, 255, 255, 0.603);
}

.infoDigimon {
    display: flex;
    flex-direction: row;
    
}

.infoDadosDigimon {
    width: 50vw;
    align-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagemDigimon {
    font-weight: bold;
}

.infoDadosPrincipaisDigimon {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.image {
    display: flex;
    justify-content: center;
    
}

.buttonVoltar {
    float: right;
    margin-right: 300px;
    margin-bottom: 30px;
    position: relative;
}
